
:root {
    --mc-send-message-height: 5rem;
    --mc-send-message-padding: 0 0 0 3px;
    --mc-send-message-border-width: 2px; /* textarea border width, highlight fix */
    --mc-users-width: 15rem;
    --mc-cl-messages-bg: none/*darkseagreen*/;
    --mc-cl-users-bg: coral;
    --mc-cl-send-message-bg: none;
}

#the-media-chat {
    display: flex;
    flex-direction: column;
    off-height: 100%; /* for what it was set? */
    position: relative;
}

.mc-chat-layout {
    display: grid;
    height: 100%;
    grid-template-areas:
        "cl-messages     cl-users"
        "cl-send-message cl-users";
    grid-template-rows: auto var(--mc-send-message-height);
    grid-template-columns: auto var(--mc-users-width);
}

.mc-cl-messages {
    grid-area: cl-messages;
    position: relative;
    min-height: 5rem;
    background: var(--mc-cl-messages-bg);
}

.mc-cl-users {
    grid-area: cl-users;
    position: relative;
    background: var(--mc-cl-users-bg);
}

.mc-cl-send-message {
    grid-area: cl-send-message;
    background: var(--mc-cl-send-message-bg);
}

/* different sizes */
@media (max-width: /*767.98px*/ 991.98px) {
    .mc-chat-layout {
        grid-template-areas:
            "cl-messages    "
            "cl-send-message";
        grid-template-columns: auto;
    }
    .mc-cl-users {
        display: none;
    }
    .mc-cl-send-message .send-message form button {
        margin-right: 0 !important;
    }
}

/* messages list */
.mc-cl-messages .messages-list {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.mc-cl-messages .messages-list .ml-message {
    margin: 0.2rem 0.5rem 0 0.5rem;
}

.mc-cl-messages .messages-list .ml-message .date-from {
    display: inline-flex;
    align-items: center;
    transform: translate(0, -4px); /* still vertical align not fine, with/without time vertical align differs */
}
/*@supports (-moz-appearance:button) and (contain:paint) {
    !* firefox only *!
    .mc-cl-messages .messages-list .ml-message .date-from {
        transform: translate(0, -4px);
    }
}*/

.mc-cl-messages .messages-list .ml-message .date {
    margin: 0 0.2rem 0 0;
    color: var(--jca-gray-600);
    font-size: 70%;
}

.mc-cl-messages .messages-list .ml-message .from {
    margin: 0 0.2rem 0 0;
    font-weight: bold;
}
.mc-cl-messages .messages-list .ml-message .from.cut-long-username {
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mc-cl-messages .messages-list .ml-message .text {
    word-break: break-all;
}

.mc-cl-messages .messages-list .ml-message.system-message {
    line-height: 1rem;
}
.mc-cl-messages .messages-list .ml-message.system-message .text {
    color: var(--jca-gray-600);
    font-size: 70%;
}

.mc-cl-messages .messages-list .ml-message.general-message.whisper {
    background-color: var(--jca-highlight-bg);
}

/* users list */
.mc-cl-users .users-list {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}
.mc-cl-users .users-list .ul-user {
    margin: 0.2rem 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mc-cl-users .users-list .ul-user .name {
    flex-grow: 1;
    margin-right: auto;
}
.mc-cl-users .users-list .ul-user .status {
    flex-shrink: 0;
}

/* send message */
.mc-cl-send-message .send-message {
    position: relative;
    height: 100%;
}

.mc-cl-send-message .send-message form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    margin: 0;
}

.mc-cl-send-message .send-message form textarea {
    flex-grow: 1;
    resize: none;
    /*outline: none;*/
    margin: 0;
    padding: var(--mc-send-message-padding);
    border: var(--mc-send-message-border-width) solid var(--jca-gray-600);
    border-radius: var(--jca-border-radius-sm);
}

.mc-cl-send-message .send-message form button {
    flex-shrink: 0;
    margin: 0 var(--mc-send-message-border-width);
}
/* highlighter try #1 */
.mc-cl-send-message .send-message form .message-with-highlight {
    flex-grow: 1;
    position: relative;
    off-transform: translateZ(0); /* for what ? */
    -webkit-text-size-adjust: none;
}

.mc-cl-send-message .send-message form .message-with-highlight .message-backdrop {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: var(--mc-send-message-border-width);
    left: var(--mc-send-message-border-width);
    right: var(--mc-send-message-border-width);
    bottom: var(--mc-send-message-border-width);
    background-color: var(--jca-body-bg);
    pointer-events: none;
}
.mc-cl-send-message .send-message form .message-with-highlight .message-backdrop .message-highlighter {
    off-height: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: transparent;
    padding: var(--mc-send-message-padding);
}
.mc-cl-send-message .send-message form .message-with-highlight .message-backdrop .message-highlighter mark {
    off-background-color: var(--jca-primary);
    off-color: var(--jca-white); /* some undefined black shadow or what? */
    border-radius: 3px;
    margin: 0;
    padding: 0;
}
/* firefox only */
@-moz-document url-prefix() {
    .mc-cl-send-message .send-message form .message-with-highlight .message-backdrop .message-highlighter {
        /*padding: 2px 0 0 5px;*/
    }
}
.mc-cl-send-message .send-message form .message-with-highlight .message-textarea {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}
.mc-cl-send-message .send-message form .message-with-highlight .message-textarea textarea {
    overflow: auto;
    background-color: transparent;
}

.mc-cl-send-message .send-message .select-one-from-list {
    position: absolute;
    left: 4px;
    bottom: var(--mc-send-message-height);
    max-height: 300px;
    max-width: 300px;
    overflow: auto;
    border: var(--jca-border-width) var(--jca-border-style) var(--jca-border-color);
    border-radius: var(--jca-border-radius);
}
.mc-cl-send-message .send-message .select-one-from-list .list-group {
    border: none;
    border-radius: 0;
}



/* janus-status */
.janus-status {
    position: absolute;
    bottom: 0;
    right: 5px;
    z-index: 200;
    /*border: 1px solid red;*/
}
.janus-status .janus-status-errors {
    position: absolute;
    right: 0;
    bottom: 1.8rem;
    width: 400px;
}
.janus-status .janus-status-errors .card {
    max-height: calc(100vh - 200px);
    overflow: auto;
}
