
:root {
    --mc-send-message-height: 5rem;
    --mc-users-width: 15rem;
    --mc-cl-messages-bg: darkseagreen;
    --mc-cl-users-bg: coral;
    --mc-cl-send-message-bg: lightblue;
}

#the-media-chat {
    display: flex;
    flex-direction: column;
    off-height: 100%; /* for what it was set? */
    position: relative;
}

.mc-chat-layout {
    display: grid;
    height: 100%;
    grid-template-areas:
        "cl-messages     cl-users"
        "cl-send-message cl-users";
    grid-template-rows: auto var(--mc-send-message-height);
    grid-template-columns: auto var(--mc-users-width);
}

.mc-cl-messages {
    grid-area: cl-messages;
    position: relative;
    min-height: 5rem;
    background: var(--mc-cl-messages-bg);
}

.mc-cl-users {
    grid-area: cl-users;
    position: relative;
    background: var(--mc-cl-users-bg);
}

.mc-cl-send-message {
    grid-area: cl-send-message;
    background: var(--mc-cl-send-message-bg);
}

/* messages list */
.mc-cl-messages .messages-list {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.mc-cl-messages .messages-list .ml-message {
    margin: 0.2rem 0.5rem 0 0.5rem;
}

.mc-cl-messages .messages-list .ml-message .date-from {
    display: inline-flex;
    align-items: center;
    transform: translate(0, -4px); /* still vertical align not fine */
}

.mc-cl-messages .messages-list .ml-message .date {
    margin: 0 0.2rem 0 0;
    color: var(--jca-gray-600);
    font-size: 70%;
}

.mc-cl-messages .messages-list .ml-message .from {
    margin: 0 0.2rem 0 0;
    font-weight: bold;
}
.mc-cl-messages .messages-list .ml-message .from.cut-long-username {
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mc-cl-messages .messages-list .ml-message .text {
    word-break: break-all;
}

.mc-cl-messages .messages-list .ml-message.system-message {
    line-height: 1rem;
}
.mc-cl-messages .messages-list .ml-message.system-message .text {
    color: var(--jca-gray-600);
    font-size: 70%;
}

/* users list */
.mc-cl-users .users-list {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}
.mc-cl-users .users-list .ul-user {
    margin: 0.2rem 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mc-cl-users .users-list .ul-user .name {
    flex-grow: 1;
    margin-right: auto;
}
.mc-cl-users .users-list .ul-user .status {
    flex-shrink: 0;
}

/* send message */
.mc-cl-send-message .send-message {
    position: relative;
    height: 100%;
}

.mc-cl-send-message .send-message form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    margin: 0;
}

.mc-cl-send-message .send-message form textarea {
    flex-grow: 1;
    resize: none;
    /*outline: none;*/
    margin: 4px; /* temp, to see bg */
}

.cl-send-message .send-message form button {
    flex-shrink: 0;
    margin: 4px; /* temp, to see bg */
}



/* janus-status */
.janus-status {
    position: absolute;
    bottom: 0;
    right: 5px;
    z-index: 200;
    /*border: 1px solid red;*/
}
.janus-status .janus-status-errors {
    position: absolute;
    right: 0;
    bottom: 1.8rem;
    width: 400px;
}
.janus-status .janus-status-errors .card {
    max-height: calc(100vh - 200px);
    overflow: auto;
}
