
const apisecret = '8YvC3ex2yq6A';  // janus.jcfg api_secret

let iceServers = [];

if (window.location.hostname.includes('.cc.lan')) {
    // use own turn server
    try {
        const coturnUser = 'mc-user-' + Janus.randomString(10);
        const result = await fetch(`https://jc-api-a91.cc.lan/coturn-access?service=turn&username=${coturnUser}`);
        const coturnAccess = await result.json();
        console.log('coturnAccess', coturnAccess)
        iceServers.push({
           username: coturnAccess.username,
           credential: coturnAccess.password,
           urls: coturnAccess.uris,
        });
    } catch (e) {
        console.warn('Cant obtain coturn access');
        console.error(e);
    }
} else {
    // use public
    iceServers = [
        {
            urls: "stun:openrelay.metered.ca:80"
        },
        {
            urls: "turn:openrelay.metered.ca:80?transport=tcp",
            username: "openrelayproject",
            credential: "openrelayproject",
        },
        {
            urls: "turn:openrelay.metered.ca:443?transport=tcp",
            username: "openrelayproject",
            credential: "openrelayproject",
        }
    ]
}


export { apisecret, iceServers };
