/* bootstrap styles fixes for project  */
.offcanvas-start {
    width: 300px;
}


/* small-screen-menu */
.small-screen-menu {
    cursor: pointer;
}
#pageSideMenu .nav-pills .nav-link.active {
    background-color: var(--bs-gray-500);
}

/* make login form full screen */
.screen-sign-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bs-gray-100);
}

.form-sign-in {
    width: 100%;
    max-width: 330px;
    padding: 15px;
}

.form-sign-in .ico-logo {
    color: var(--bs-primary);
}

.form-sign-in .form-floating:focus-within {
    z-index: 2;
}

.form-sign-in input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-sign-in input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* home dashboard */
.dashboard {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "dash-rooms dash-users";
}
.dashboard .dash-rooms {
    grid-area: dash-rooms;
}
.dashboard .dash-users {
    grid-area: dash-users;
}
@media (max-width: 767.98px/*991.98px*/) {
    .dashboard {
        grid-template-areas: "dash-rooms" "dash-users";
    }
}


.toast-container {
    z-index: 1045; /* same as $zindex-offcanvas */
}
.toast-container :where(.bg-primary, .bg-secondary, .bg-success, .bg-danger, .bg-dark) .toast-body {
    color: var(--bs-light);
}


.rooms-table {  }
@media (max-width: 991.98px) {
    /* reset bootstrap */
    .table>:not(caption)>*>* {
        border-bottom-width: 0;
    }
    /* sticky header */
    .rooms-table thead {
        position: sticky;
        top: 0;
        left: 0;
        background-color: rgb(var(--bs-body-bg-rgb));
        border-bottom: 2px solid currentColor;
    }
    .rooms-table tbody {
        border-top: transparent !important;
    }
    /* */
    .rooms-table {
        display: flex;
        flex-direction: column;
    }
    .rooms-table :where(tbody, tr, th, td) {
        display: block
    }
    .rooms-table thead {
        display: grid;
        grid-gap: 5px;
        grid-template:
            "room-id creator description description description description"
            "history private active pin secret participants"
            / 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .rooms-table thead th:nth-child(1) {
        grid-area: room-id;
        border-bottom: 1px solid var(--bs-gray-400);
    }
    .rooms-table thead th:nth-child(2) {
        grid-area: creator;
        border-bottom: 1px solid var(--bs-gray-400);
    }
    .rooms-table thead th:nth-child(3) {
        grid-area: description;
        border-bottom: 1px solid var(--bs-gray-400);
    }
    .rooms-table thead th:nth-child(4) {
        grid-area: history;
    }
    .rooms-table thead th:nth-child(5) {
        grid-area: private;
    }
    .rooms-table thead th:nth-child(6) {
        grid-area: active;
    }
    .rooms-table thead th:nth-child(7) {
        grid-area: pin;
    }
    .rooms-table thead th:nth-child(8) {
        grid-area: secret;
    }
    .rooms-table thead th:nth-child(9) {
        grid-area: participants;
    }
    .rooms-table thead th:nth-child(10) {
        display: none; /* hide header cell for actions column */
    }

    .rooms-table tbody tr {
        display: grid;
        grid-gap: 5px;
        grid-template:
            "room-id creator description description description description"
            "history private  active pin secret participants"
            "actions actions actions actions actions actions"
            / 1fr 1fr 1fr 1fr 1fr 1fr;
        border-bottom: 1px solid var(--bs-gray-600);
    }
    .rooms-table tbody td:nth-child(1) {
        grid-area: room-id;
    }
    .rooms-table tbody td:nth-child(2) {
        grid-area: creator;
    }
    .rooms-table tbody td:nth-child(3) {
        grid-area: description;
    }
    .rooms-table tbody td:nth-child(4) {
        grid-area: history;
    }
    .rooms-table tbody td:nth-child(5) {
        grid-area: private;
    }
    .rooms-table tbody td:nth-child(6) {
        grid-area: active;
    }
    .rooms-table tbody td:nth-child(7) {
        grid-area: pin;
    }
    .rooms-table tbody td:nth-child(8) {
        grid-area: secret;
    }
    .rooms-table tbody td:nth-child(9) {
        grid-area: participants;
    }
    .rooms-table tbody td:nth-child(10) {
        grid-area: actions;
    }
    .rooms-table tbody td:not(:last-child) {
        border-bottom: 1px solid var(--bs-gray-400) !important;
    }
}


/* prevent page twitch on scroll hide/show */
/* makes problem for login, toasts */
/*@supports (scrollbar-gutter: stable) {
    html  {
        scrollbar-gutter: stable both-edges;
    }
}*/
